@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 15vh;
    position: fixed;
    box-shadow: 0 0 1.25rem slategray;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-content: center;
    list-style: none;
    margin-right: 0.625em;  
}

nav-header-item {
    display: flex;
    align-items: center;
    
}

.nav-header-link {
    padding: 0.625rem;
    list-style: none;
    text-decoration: none;
    color: rgb(92, 209, 151);
    border-radius: 6.25rem;
    justify-content: space-between;
    margin: 1.25rem;
    padding: 0.9375rem;  
}

.nav-link-selective {
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    margin: 1.25rem;
}

.nav-link-selective {
    border-radius: 6.25rem;
    padding: 0.9375rem;
    color: white;
    background-color:rgb(92, 209, 151);
}

.nav-header-link:hover{
    color: rgb(161, 76, 241);
}

.nav-link-selective:hover{
    background-color: rgb(161, 76, 241);
    color: #ffffff;
}

/* ### comienzo responsive ### */

@media (max-width:350px){
    .header {
        display: none;
    }
}

@media (max-width:500px){
    .header {
        display: none;
    }
}

