@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#8338EC;
    width: 100%; 
    height: auto;
    padding: 6.25rem;
    font-family: 'Montserrat', sans-serif;
}

.section-quote-info{
    display: flex;
    flex-direction: column;   
}

.quote-img{
    display: flex;
    justify-content: center;
}

.quote-title {
    display: flex;
    color: #ffffff;
    align-self: center;
    font-size: 6.25rem;
    padding-bottom: 3.125rem;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 1.5625rem;
}

.quote-name-author {
    display: flex;
    align-self: center;
    margin-top: 3.125rem;
    color: #ffffff;
    font-size: 1.875rem;
    justify-content: center;    
}

/* ### comienza responsive ### */

@media (max-width:320px) and (min-width:900px) {
    .section-quote-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 25px;
    }
    
    .quote-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }

    .quote-name-author{
        display: flex;
        text-align: center;
        
    }
}

@media (max-width:700px) and (min-width:320px){
    .section-quote-info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 25px;
        justify-content: center;
    }
    
    .quote-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .quote-name-author{
        display: flex;
        text-align: center;
    }
}
