
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .section proyect {
    display: flex;
    width: 100%;
    height: auto;
} 
.proyect-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    padding: 0.625rem;
    margin-top: 8.125rem; 
}

.proyect-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
   
}

.proyect-title {
    display: flex;
    align-content: center;
    font-size: 3.75em;
    margin-bottom: 1.875rem;
}

.proyect-info {
    font-size: 1.25em;
    margin-bottom: 1.25rem;
}

.proyect-card-container {
    display: flex;
    flex-wrap: wrap;
    /* width: 75%; */ 
    height: auto;
    align-self: center;
    /* padding: 0.9375rem; */
    /* background-color: chocolate; */
    justify-content: space-between;   
    padding: 100px;
    color: indigo;

}
.proyect-single-card{
    display: flex;
    align-content: center;
    flex-direction: column;
}


.proyect-card {
    display: flex;
    width: 18.75rem;
    height: 18.75rem;
    border: 0.0625rem solid rgb(228, 220, 233);
    border-radius: 0.625rem;
    padding: 0.625rem;
    text-decoration: none;
    text-align: center;
    flex-wrap: wrap;
    margin: 0.625rem;
}

.card-img {
    display: flex;
    width: 12.5rem;
    height: 12.5rem;
    align-content: center;
    padding-left: 5rem;
}

.proyect-card-porfolio{
    display: flex;
    width: 18.75rem;
    height: 18.75rem;
    border: 0.0625rem solid rgb(228, 220, 233);
    border-radius: 0.625em;
    padding: 0.625rem;
    padding-top: 3.125rem;
    text-decoration: none;
    flex-direction: column;
    margin: 0.625rem;  
    
}

.proyect-figure{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}


.portafolio {
    display: flex;
    width: 12.5rem;
    height: 6.875rem;
    align-content: center;
    align-self: center;
}

.figcaption {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    margin-left: 1.5625rem;
    
}

.match-3, .todo-app {
    align-content: center;
    padding-left: 3.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}

.figcaption-1 {
    /* margin-top: 0.6875rem; */
    /* color: rgb(92, 67, 124); */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    padding-top: 3.125rem;

}

.proyect-card:hover, 
.proyect-card-porfolio:hover{
    color: rgb(185, 145, 204);
    border-color: indigo;    
}

/*  ### comienza responsive ### */

@media (max-width:900px) and (min-width:320px){
    
    .proyect-title{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
        width: auto;
        font-size: 2.1875rem;
    }
    
    .proyect-card-container{
        display: flex;
        align-content: center;
        flex-direction: column;
        height: auto; 
        justify-content: center;
        padding: 0;
        
    }

    .proyect-single-card {
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}

@media (max-width:1024px) and (min-width:900px){
     
    .proyect-title{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
        width: auto;
        font-size: 2.1875rem;
    }
    
    .proyect-card-container{
        display: flex;
        align-content: center;
        flex-direction: column;
        height: auto; 
        justify-content: center;
        padding: 0;
    }

    .proyect-single-card {
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}