@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    display:flex;
    width: 100%;
    height: 45vh;
    padding: 80px 20px 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgb(96, 190, 134) 
    ;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.footer-nav {
    display: flex;      
}

.footer-links-list{
    display: flex;
    list-style: none;
    align-self: flex-end;
    padding: 20px;    
}

.footer-links {
    display: flex;
    padding:10px;     
}

.footer-links-text{
    text-decoration: none;
    color: #ffffff;
}

.footer-icon {
    display: flex;
    justify-content: space-around;    
    align-items: center;
}


.icon {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(96, 190, 134);
    border-radius: 100px; 
    border-color: 1px solid #ffffff;
}


.heart {
    color: red;
    padding: 10px;
    
}

.footer-links-text:hover {
    color: blueviolet;
    
}

.icon:hover {
    background-color:rgb(96, 190, 134);
    color: #8e33f5;    
}



